.o-spacing {
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
}

@include data('spacing', (
  'none':   0,
  'tiny':   $spacing-tiny,
  'small':  $spacing-small,
  'medium': $spacing-medium,
)) {
  $value: value();

  padding-top: $value;
  padding-bottom: $value;
}

@include data('spacing', (
  'top:none':   0,
  'top:tiny':   $spacing-tiny,
  'top:small':  $spacing-small,
  'top:medium': $spacing-medium,
)) {
  padding-top: value();
}


@include data('spacing', (
  'bottom:none':   0,
  'bottom:tiny':   $spacing-tiny,
  'bottom:small':  $spacing-small,
  'bottom:medium': $spacing-medium,
)) {
  padding-bottom: value();
}
