@include data((
  's:none':   0,
  's:tiny':   $spacing-tiny,
  's:small':  $spacing-small,
  's:base':   $spacing-base,
  's:medium': $spacing-medium,
)) {
  $value: value();

  padding-top: $value;
  padding-bottom: $value;
}

@include data((
  'st:none':   0,
  'st:tiny':   $spacing-tiny,
  'st:small':  $spacing-small,
  'st:base':   $spacing-base,
  'st:medium': $spacing-medium,
)) {
  padding-top: value();
}

@include data((
  'sb:none':   0,
  'sb:tiny':   $spacing-tiny,
  'sb:small':  $spacing-small,
  'sb:base':   $spacing-base,
  'sb:medium': $spacing-medium,
)) {
  padding-bottom: value();
}
