.u-hide {
  display: none;
}

@each $key, $value in get('breakpoint') {
  @include breakpoint($value) {
    .u-hide-#{$key} {
      display: none;
    }
  }
}

.u-show {
  display: block;
}

[class*="u-show-"] {
  display: none;
}

@each $key, $value in get('breakpoint') {
  @include breakpoint($value) {
    .u-show-#{$key} {
      display: block;
    }
  }
}
