html,
body {
  // scroll-behavior: smooth;
  // scrollbar-width: thin;
  font-family: var(--family-default);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; // This needs to come after -webkit-font-smoothing
  text-rendering: optimizeLegibility;
  font-size: #{($root-font-size / $browser-font-size) * 100%};
}

body {
  line-height: 1.4;
  font-weight: 400;
  font-size: rem(16px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-heading);
  font-weight: 700;
  line-height: 1.2;
  margin: var(--margin, 2.5em 0 1.25em);
}

blockquote,
figure,
table,
dl,
hr,
ol,
ul,
p {
  margin: var(--margin, 1.25em 0);
}
