// @each $heading in 'h1' 'h2' 'h3' 'h4' 'h5' 'h6' {
//   #{unquote($heading)} {
//     font-size: get('font-size', $heading);
//     line-height: get('line-height', $heading);
//   }
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//
// }

h1 {
  font-size: get('font-size', 'h1');
  line-height: get('line-height', 'h1');
}

h2 {
  font-size: get('font-size', 'h2');
  line-height: get('line-height', 'h2');
}

h3 {
  font-size: get('font-size', 'h3');
  line-height: get('line-height', 'h3');
}

h4 {
  font-size: get('font-size', 'h4');
  line-height: get('line-height', 'h4');
}

h5 {
  font-size: get('font-size', 'h5');
  line-height: get('line-height', 'h5');
}

h6 {
  font-size: get('font-size', 'h6');
  line-height: get('line-height', 'h6');
}
