/// Create @font-face declaration
/// @param {String} $file - Path without file extension
/// @param {List} $formats
/// @param {List} $src
/// @example
/// @include font-face('../path/to/font', otf eot woff) {
///   font-family: Font;
///   font-weight: 300;
///   font-style: normal;
/// }
@mixin font-face($file, $formats, $src: ()) {
  @font-face {
    @if index($formats, 'eot') {
      src: url('#{$file}.eot');
    }
    @each $format in $formats {
      $src: append($src, url('#{$file}.#{map-get((
        'eot': 'eot?#iefix',
        'ttf': 'ttf',
        'otf': 'otf',
        'woff2': 'woff2',
        'woff': 'woff',
        'svg': 'svg#svgFontName',
      ), $format)}') format('#{map-get((
        'eot': 'embedded-opentype',
        'ttf': 'truetype',
        'otf': 'opentype',
        'woff2': 'woff2',
        'woff': 'woff',
        'svg': 'svg',
      ), $format)}'), comma);
    }
    src: $src;
    @content;
  }
};
