/// Pseudo element representing the chosen format.
///
/// @param {ArgList} $args
///
/// @example
/// .media {
///   @include format(4/3);
///
/// furthermore, it is also possible to specify
/// the format via two separate parameters or
/// to define further styles
///
///   @include format(400px, 300px) {
///     background: deppink;
///   };
/// }

@mixin format($args...) {
  $ratio: nth($args, 1);

  @if length($args) > 1 {
    $ratio: $ratio / nth($args, 2);
  }

  &::before {
    content: '';

    padding-top: 100% / strip-unit($ratio);
    display: block;

    @content;
  }
}
