/// Variable holding registry data.
///
/// @type Number

$__registry-data: () !default;


/// Store values in the registry.
///
/// @param {ArgList} $args - Either a map of values or a key value pair.
///
/// @example scss
///   // Using a map.
///   @include store((
///     'key': 'value'
///   ))
///
///   // Using a key value pair.
///   @include store('key', 'value')

@mixin store($args...) {
  $data: nth($args, 1);

  // normalize data
  @if type-of($data) == 'string' {
    $data: ($data: nth($args, 2));
  }

  $__registry-data: map-extend($__registry-data, $data, true) !global;
}


/// Get a value from the registry.
///
/// @param {Arglist} $keys - Keys to fetch.
/// @return {*} - Desired value.

@function get($keys...) {
  @return map-deep-get($__registry-data, $keys...);
}
