/// Generate custom properties that are also available in SCSS.
///
/// @param {Map} $values - Map of custom properties.
/// @param {String} $group - Name of the group.
/// @example
///
/// :root {
///   @include variables((
///     --sizing: border-box,
///   ));
///
///   @include variables((
///     --primary: steelblue,
///   ), color);
///
///   @include variables((
///     --container-small: 710px,
///     --container-medium: 890px,
///   ), container);
/// }
///
/// $registry-data: (
///   --sizing: border-box,
///   --primary: steelblue,
///   --container-small: 710px,
///   --container-medium: 890px,
///   color: (
///     primary: steelblue
///   ),
///   container: (
///     small: 710px,
///     medium: 890px
///   ),
/// );
///
/// :root {
///   --sizing: border-box;
///   --primary: steelblue;
///   --container-small: 710px
///   --container-medium: 890px;
/// }

@mixin variables($values, $group: null) {

  // check if a selector is present
  // and output the custom properties
  @if & {
    @each $key, $value in $values {
      #{$key}: #{$value};
    }
  }

  @each $key, $value in $values {

    // register the custom property itself
    @include store($key, $value);

    $key: trim($key, '-');

    // when a group is supplied the mixin will try
    // to group the variables with the given group
    @if $group {
      $index: str-index($key, $group);

      @if $index {
        $key: str-slice($key, str-length($group) + 1);
      }

      $key: trim($key, '-');

      // make the first character of $key lowercase
      $key: to-lower-case(str-slice($key, 1, 1)) + str-slice($key, 2);

      @include store($group, ($key: $value));
    }

    // otherwise just set the $value
    // with the sliced $key
    @else {
      @include store($key, $value);
    }
  }
}
