$breakpoints: config('breakpoints');
$length: length($breakpoints);
$keys: map-keys($breakpoints);

$display-options: (
  // inline-block,
  // inline-flex,
  // inline-grid,
  // inline,
  // block,
  // flex,
  // grid,
);

.display {
  --display-value: block;
  --display: none;

  @each $value in $display-options {
    @if not($value == 'block') {
      &.as-#{$value} {
        --display-value: #{$value};
      }
    }
  }

  @each $key in $keys {
    &.at-#{$key} {
      @include breakpoint($key) {
        --display: var(--display-value);
      }
    }
  }

  @each $key in $keys {
    &.until-#{$key} {
      @include breakpoint-until($key) {
        --display: var(--display-value);
      }
    }
  }

  @for $i from 1 through $length {
    $min: nth($keys, $i);

    @if $i < $length {
      @for $n from $i + 1 through $length {
        $max: nth($keys, $n);

        &.between-#{$min}-#{$max},
        &.between-#{$min}-and-#{$max} {
          @include breakpoint-between($min, $max) {
            --display: var(--display-value);
          }
        }
      }
    }
  }
}

.display {
  display: var(--display);
}
