.flex {
  @include variants((
    'row': row,
    'row-reverse': row-reverse,
    'col': column,
    'col-reverse': column-reverse,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      align-items: $value;
    }
  }
}

.flex {
  @include variants((
    'nowrap': nowrap,
    'wrap': wrap,
    'wrap-reverse': wrap-reverse,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      align-items: $value;
    }
  }
}

.flex {
  @include variants((
    'initial': 0 1 auto,
    '1': 1 1 0%,
    'auto': 1 1 auto,
    'none': none,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      align-items: $value;
    }
  }
}

.flex {
  @include variants((
    'grow': 1,
    'grow-0': 0,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      align-items: $value;
    }
  }
}

.flex {
  @include variants((
    'shrink': 1,
    'shrink-0': 0,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      align-items: $value;
    }
  }
}

.items {
  @include variants((
    'stretch': stretch,
    'start': flex-start,
    'center': center,
    'end': flex-end,
    'baseline': baseline,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      align-items: $value;
    }
  }
}

.content {
  @include variants((
    'start': flex-start,
    'center': center,
    'end': flex-end,
    'between': space-between,
    'around': space-around,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      align-content: $value;
    }
  }
}

.self {
  @include variants((
    'auto': auto,
    'start': flex-start,
    'center': center,
    'end': flex-end,
    'stretch': stretch,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      align-self: $value;
    }
  }
}

.justify {
  @include variants((
    'start': flex-start,
    'center': center,
    'end': flex-end,
    'between': space-between,
    'around': space-around,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      order: $value;
    }
  }
}

.order {
  @include variants((
    'first': -9999,
    'last': 9999,
    'none': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
  ), 'responsive') using ($key, $value) {
    &#{$key} {
      order: $value;
    }
  }
}
