.overflow-hidden {
  overflow: hidden;
}

.marginless {
  margin: 0;
}

.background-transparent {
  background-color: transparent;
}

@each $key, $value in config('colors') {
  .background-#{trim($key, '--')} {
    background-color: var(#{$key});
  }
}
