.cursor-pointer {
  cursor: pointer;
}

.background-transparent {
  background-color: transparent;
}

.wrap {
  @include wrap
}

@each $key, $value in config('colors') {
  .background-#{trim($key, '--')} {
    background-color: $value;
    background-color: var(#{$key});
  }
}
