@use 'sass:map';

$options: (
  'px': 1px,
  '0': 0,
  '1': .25rem,
  '2': .5rem,
  '3': .75rem,
  '4': 1rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '8': 2rem,
  '10': 2.5rem,
  '12': 3rem,
  '16': 4rem,
  '20': 5rem,
  '24': 6rem,
  '32': 8rem,
  '40': 10rem,
  '48': 12rem,
  '56': 14rem,
  '64': 16rem,
);

.p {
  @include variants($options, 'responsive') using ($key, $value) {
    &-#{$key} {
      padding: $value;
    }

    &x-#{$key} {
      padding-right: $value;
      padding-left: $value;
    }

    &y-#{$key} {
      padding-bottom: $value;
      padding-top: $value;
    }

    &t-#{$key} {
      padding-top: $value;
    }

    &r-#{$key} {
      padding-right: $value;
    }

    &b-#{$key} {
      padding-bottom: $value;
    }

    &l-#{$key} {
      padding-left: $value;
    }
  }
}

$options: map.merge((
  'auto': auto,
), $options);

@include variants($options, 'responsive') using ($attr...) {
  .m {
    @include variants($attr...) using ($key, $value) {
      &-#{$key} {
        margin: $value;
      }

      &x-#{$key} {
        margin-right: $value;
        margin-left: $value;
      }

      &y-#{$key} {
        margin-bottom: $value;
        margin-top: $value;
      }

      &t-#{$key} {
        margin-top: $value;
      }

      &r-#{$key} {
        margin-right: $value;
      }

      &b-#{$key} {
        margin-bottom: $value;
      }

      &l-#{$key} {
        margin-left: $value;
      }
    }
  }

  .-m {
    @include variants($attr...) using ($key, $value) {
      $value: -#{$value};

      &-#{$key} {
        margin: $value;
      }

      &x-#{$key} {
        margin-right: $value;
        margin-left: $value;
      }

      &y-#{$key} {
        margin-bottom: $value;
        margin-top: $value;
      }

      &t-#{$key} {
        margin-top: $value;
      }

      &r-#{$key} {
        margin-right: $value;
      }

      &b-#{$key} {
        margin-bottom: $value;
      }

      &l-#{$key} {
        margin-left: $value;
      }
    }
  }
}
