.capitalized {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

// @each $key, $value in config('text-formats') {
//   $value: important($value);
//
//   .text-#{$key} {
//     @include properties($value)
//   }
// }

.text-h1 {
  @include text-h1
}

.text-h2 {
  @include text-h2
}

.text-h3 {
  @include text-h3
}

.text-default {
  @include text-default
}

.text-small {
  @include text-small
}

@each $key, $value in config('colors') {
  .text-#{trim($key, '--')} {
    color: $value !important;
  }
}
