.capitalized {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.text-nowrap {
  white-space: nowrap;
}

.text-h1 {
  @include text-h1
}

.text-h2 {
  @include text-h2
}

.text-h3 {
  @include text-h3
}

.text-default {
  @include text-default
}

.text-small {
  @include text-small
}

@each $key, $value in config('colors') {
  .text-#{trim($key, '--color-')} {
    color: $value;
    color: var(#{$key}) !important;
  }
}

@each $key, $value in config('families') {
  .#{trim($key, '--')} {
    font-family: $value;
    font-family: var(#{$key}) !important;
  }
}

// $options: (
//   font-size: (
//     'text-xs': rem(14px),
//     'text-s': rem(15px),
//     'text-m': rem(16px),
//     'text-l': rem(18px),
//     'text-xl': rem(19px),
//     'text-2xl': rem(23px),
//     'text-3xl': rem(28px),
//     'text-4xl': rem(34px),
//     'text-5xl': rem(40px),
//   ),
//   text-align: (
//     'text-left': left,
//     'text-right': right,
//     'text-center': center,
//   )
// );
//
// @each $prop, $values in $options {
//   @each $key, $value in $values {
//     .#{$key} {
//       @include variants('responsive') {
//         #{$prop}: $value;
//       }
//     }
//   }
// }

.text {
  @include variants((
    'xs': rem(14px),
    's': rem(15px),
    'm': rem(16px),
    'l': rem(18px),
    'xl': rem(19px),
    '2xl': rem(23px),
    '3xl': rem(28px),
    '4xl': rem(34px),
    '5xl': rem(40px),
  ), 'responsive') using ($key, $value) {
    &-#{$key} {
      font-size: $value !important;
    }
  }
}

.text {
  @include variants((
    'left': left,
    'right': right,
    'center': center,
  ), 'responsive') using ($key, $value) {
    &-#{$key} {
      text-align: $value;
    }
  }
}
