// default font-size
$default-font-size: 10px;


// breakpoints
$breakpoint-small: 512px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-largest: 1280px;

// store breakpoints
@include store('breakpoint', (
  'small': $breakpoint-small,
  'medium': $breakpoint-medium,
  'large': $breakpoint-large,
  'largest': $breakpoint-largest
))


// container widths
$container-smaller: 530px;
$container-small: 620px;
$container-medium: 710px;
$container-large: 890px;
$container-larger: 960px;
$container-largest: 1200px;

// store container widths
@include store('container', (
  'smaller': $container-smaller,
  'small': $container-small,
  'medium': $container-medium,
  'large': $container-large,
  'larger': $container-larger,
  'largest': $container-largest
))


// text formats
$text-h1: (
  line-height: 1.125,
  font-weight: 400,
  font-size: (
    'default': rem(36px),
    'medium': rem(48px)
  )
);

$text-h2: (
  line-height: 1.125,
  font-weight: 400,
  font-size: (
    'default': rem(28px),
    'medium': rem(36px)
  )
);

$text-h3: (
  line-height: 1.125,
  font-weight: 400,
  font-size: (
    'default': rem(20px),
    'medium': rem(28px)
  )
);

$text-default: (
  line-height: 1.35,
  font-weight: 400,
  font-size: rem(16px)
);

$text-small: (
  line-height: 1.35,
  font-weight: 400,
  font-size: rem(14px)
);

// store text formats
@include store('text', (
  'h1': $text-h1,
  'h2': $text-h2,
  'h3': $text-h3,
  'default': $text-default,
  'small': $text-small
))
