// breakpoints
$breakpoint-small: 512px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-largest: 1200px;

// register breakpoints
@include set(breakpoint, (
  small: $breakpoint-small,
  medium: $breakpoint-medium,
  large: $breakpoint-large,
  largest: $breakpoint-largest
))


// responsive font sizes
$size-h1: (
  normal: var(--size-2),
  medium: var(--size-1)
);
$size-h2: (
  normal: var(--size-3),
  medium: var(--size-2)
);
$size-h3: (
  normal: var(--size-4),
  medium: var(--size-3)
);
$size-normal: var(--size-5);
$size-small: var(--size-6);


// responsive line heights
$line-height-h1: var(--line-height-1);
$line-height-h2: var(--line-height-1);
$line-height-h3: var(--line-height-1);
$line-height-normal: var(--line-height-2);
$line-height-small: var(--line-height-2);
