:root {

  // colors
  @include variables((
    --primary: #34f2d6,
    --primary-invert: #000000,
    --dark: #000000,
    --gray: #666666,
    --light: #ffffff
  ), color)


  // gaps
  @include variables((
    --gap-small: 10px,
    --gap-normal: 20px,
    --gap-medium: 40px
  ), gap)


  // container widths
  @include variables((
    --container-small: 530px,
    --container-normal: 620px,
    --container-medium: 710px,
    --container-large: 890px,
    --container-largest: 1200px
  ), container)


  // font sizes
  @include variables((
    --size-1: 3rem,    // 48px
    --size-2: 2.25rem, // 36px
    --size-3: 1.75rem, // 28px
    --size-4: 1.25rem, // 20px
    --size-5: 1rem,    // 16px
    --size-6: .875rem  // 14px
  ), size)


  // font sizes
  @include variables((
    --line-height-1: 1.1,
    --line-height-2: 1.5
  ), line-height)


  // font weights
  @include variables((
    --weight-thin: 300,
    --weight-normal: 400,
    --weight-medium: 500,
    --weight-bold: 700
  ), weight)


  // font families
  @include variables((
    --family-heading: (Arial, Helvetica, sans-serif),
    --family-normal: (Arial, Helvetica, sans-serif),
    --family-mono: monospace
  ), family)


  --radius: 5px;
  --radius-rounded: 290486px;
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --duration: 86ms;
}
