// Colors
@include config('colors', (
  --primary: #328dc1,
  --black: #000000,
  --gray: #666666,
  --white: #ffffff,
))


// Font families
@include config('family', (
  --family-default: (Arial, Helvetica, sans-serif),
  --family-heading: (Arial, Helvetica, sans-serif),
  --family-mono: monospace,
))
