// colors
@include store('color', (
  --primary: #34f2d6,
  --primary-invert: #000000,
  --black: #000000,
  --gray: #666666,
  --white: #ffffff
))


// font families
@include store('family', (
  --family-default: (Arial, Helvetica, sans-serif),
  --family-heading: (Arial, Helvetica, sans-serif),
  --family-mono: monospace
))


// transitions
@include store((
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1),
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1),
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19),
  --duration: 100ms
))
