html,
body {
  font-family: var(--family-default);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; // This needs to come after -webkit-font-smoothing
  text-rendering: optimizeLegibility;
  position: relative;
  font-size: ($default-font-size / $browser-font-size) * 100%;
}

body {
  @include properties($text-default)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-heading);
  font-weight: 400;
  margin: 3rem 0 1.125rem;
}

blockquote,
figure,
ul,
ol,
p {
  margin: 1.125rem 0;
}

::selection {
  background: var(--primary);
  color: var(--primary-invert);
}
