.content {
  &:not(.is-scope) {
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  small {
    display: inline-block;
  }

  //  ██████╗ ██████╗ ███╗   ██╗████████╗███████╗███╗   ██╗████████╗
  // ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝████╗  ██║╚══██╔══╝
  // ██║     ██║   ██║██╔██╗ ██║   ██║   █████╗  ██╔██╗ ██║   ██║
  // ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║╚██╗██║   ██║
  // ╚██████╗╚██████╔╝██║ ╚████║   ██║   ███████╗██║ ╚████║   ██║
  //  ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝   ╚═╝
  //
  // ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
  // ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
  // ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
  // ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
  // ███████║   ██║      ██║   ███████╗███████╗███████║
  // ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝

  &.is-default {
    @include properties($text-default)

    h1 {
      @include properties($text-h1)
    }

    h2 {
      @include properties($text-h2)
    }

    h3 {
      @include properties($text-h3)
    }

    small {
      @include properties($text-small)
    }

    &:not(.no-link-styles) {
      a {
        //
      }
    }

    &:not(.no-list-styles) {
      ol,
      ul {
        //
      }
    }
  }
}
