$content-elements: (
  h1: var(--content-margin-heading),
  h2: var(--content-margin-heading),
  h3: var(--content-margin-heading),
  h4: var(--content-margin-heading),
  h5: var(--content-margin-heading),
  h6: var(--content-margin-heading),
  blockquote: var(--content-margin),
  figure: var(--content-margin),
  table: var(--content-margin),
  dl: var(--content-margin),
  hr: var(--content-margin),
  ol: var(--content-margin),
  ul: var(--content-margin),
  p: var(--content-margin),
);

.content {
  --content-margin-heading: 3em 0 1.125em;
  --content-margin: 1.125em 0;
}

.content {
  &:not(.is-scope) {
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  small {
    display: inline-block;
  }

  @each $element, $default in $content-elements {
    #{$element} {
      margin: var(--content-#{$element}-margin, #{$default});
    }
  }

  //  ██████╗ ██████╗ ███╗   ██╗████████╗███████╗███╗   ██╗████████╗
  // ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝████╗  ██║╚══██╔══╝
  // ██║     ██║   ██║██╔██╗ ██║   ██║   █████╗  ██╔██╗ ██║   ██║
  // ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║╚██╗██║   ██║
  // ╚██████╗╚██████╔╝██║ ╚████║   ██║   ███████╗██║ ╚████║   ██║
  //  ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝   ╚═╝
  //
  // ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
  // ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
  // ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
  // ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
  // ███████║   ██║      ██║   ███████╗███████╗███████║
  // ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝

  &.is-default {
    @include properties($text-default)

    h1 {
      @include properties($text-h1)
    }

    h2 {
      @include properties($text-h2)
    }

    h3 {
      @include properties($text-h3)
    }

    small {
      @include properties($text-small)
    }

    &:not(.no-link-styles) {
      a {
        //
      }
    }

    &:not(.no-list-styles) {
      ol,
      ul {
        //
      }
    }
  }
}
