.container {
  --container-margin-right: auto;
  --container-margin-left: auto;
  --container-padding: 20px;
  --container-width: #{$container-largest};

  @include breakpoint(medium) {
    --container-padding: 40px;
  }

  @each $key, $value in get('container') {
    @if not($key == largest) {
      &.is-#{$key} {
        --container-width: #{$value};
      }
    }
  }

  &.is-left {
    --container-margin-left: 0px;
  }

  &.is-right {
    --container-margin-right: 0px;
  }
}

.container {
  margin-right: var(--container-margin-right);
  margin-left: var(--container-margin-left);
  box-sizing: border-box;
  max-width: var(--container-width);

  &:not(.is-collapsed) {
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    box-sizing: content-box;
  }
}
