.o-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  > * {
    box-sizing: border-box;
    max-width: 100%;
    flex: 0 1 auto;

    &:empty {
      padding-top: 0;
    }
  }
}

@include data('grid', (
  'col:1': 100%,
  'col:2': 100% / 2,
  'col:3': 100% / 3,
  'col:4': 100% / 4,
)) {
  $value: value();

  > * {
    flex-basis: $value;
    max-width: $value;
  }
}

@include data('grid', (
  'gap:none':   0,
  'gap:tiny':   $spacing-tiny,
  'gap:small':  $spacing-small,
  'gap:medium': $spacing-medium,
)) {
  $value: value();

  margin: -#{$value} 0 0 -#{$value};

  > * {
    padding: #{$value} 0 0 #{$value};
  }
}
