.media {
  --media-position: center;
  --media-height: auto;
  --media-width: 100%;
  --media-size: fill;

  &.is-vertical {
    --media-height: 100%;
    --media-width: auto;
  }

  &.is-contain {
    --media-size: contain;
  }

  &.is-cover {
    --media-size: cover;
  }

  &.is-contain,
  &.is-cover {
    --media-height: 100%;
    --media-width: 100%;
  }
}

.media {
  // background-position: var(--media-position);
  // background-repeat: no-repeat;
  // background-image: var(--media-source);
  // background-size: var(--media-size);

  height: var(--media-height);
  width: var(--media-width);

  video,
  img {
    object-position: var(--media-position);
    object-fit: var(--media-size);
    max-height: 100%;
	  max-width: 100%;
    display: block;
    height: var(--media-height);
    width: var(--media-width);
  }
}
