%link,
.o-link {
  text-decoration: inherit;
  outline: 0;
  color: inherit;
}

%list,
.o-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%button,
.o-button {
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: inherit;
  background: transparent;
  font-size: inherit;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  margin: 0;
  color: inherit;
}
