.container {
  --container-margin-right: auto;
  --container-margin-left: auto;
  --container-padding: 20px;
  --container-width: #{$container-largest};

  @include breakpoint('medium') {
    --container-padding: 40px;
  }

  @each $key, $value in config('container-widths') {
    @if not($key == 'largest') {
      &.--#{$key} {
        --container-width: #{$value};
      }
    }
  }

  &.--left {
    --container-margin-left: 0px;
  }

  &.--right {
    --container-margin-right: 0px;
  }

  &.--collapsed {
    --container-padding: 0px;
  }
}

.container {
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  margin-right: var(--container-margin-right);
  margin-left: var(--container-margin-left);

  &:not(.--fullwidth) {
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
  }
}
