@use 'sass:selector';
@use 'sass:list';

$format-options: (
  // 2 3,
  3 4 'portrait',
  // 4 3,
  // 3 2,
  // 16 10,
  16 9 'landscape',
);

.format {
  --format-height: 1;
  --format-width: 1;
  --format-ratio: calc(var(--format-width) / var(--format-height));

  @each $value in $format-options {
    $selectors: ();
    $height: nth($value, 2);
    $width: nth($value, 1);

    // Add the current format
    $selector: selector.append(&, '.--#{$width}\\/#{$height}');
    $selectors: list.append($selectors, $selector, comma);

    // Append the current format with additional names
    @if length($value) > 2 {
      @for $i from 3 through length($value) {
        $selector: selector.append(&, '.--#{nth($value, $i)}');
        $selectors: list.append($selectors, $selector, comma);
      }
    }

    @at-root {
      #{$selectors} {
        --format-height: #{$height};
        --format-width: #{$width};
      }
    }
  }

  position: relative;
  overflow: hidden;

  @include format(--format-ratio) {
    float: left;
  }
}
