@include data((
  'vr--none':   0,
  'vr--tiny':   $spacing-tiny,
  'vr--small':  $spacing-small,
  'vr--base':   $spacing-base,
  'vr--medium': $spacing-medium,
)) {
  > *:nth-child(n+2) {
    margin-top: value();
  }
}

// @include data((
//   'd--none':         none,
//   'd--flex':         flex,
//   'd--block':        block,
//   'd--inline':       inline,
//   'd--inline-flex':  inline-flex,
//   'd--inline-block': inline-block,
// )) {
//   display: value();
// }

@include data((
  's--none':   0,
  's--tiny':   $spacing-tiny,
  's--small':  $spacing-small,
  's--base':   $spacing-base,
  's--medium': $spacing-medium,
)) {
  $value: value();

  padding-top: $value;
  padding-bottom: $value;
}

@include data((
  'st--none':   0,
  'st--tiny':   $spacing-tiny,
  'st--small':  $spacing-small,
  'st--base':   $spacing-base,
  'st--medium': $spacing-medium,
)) {
  padding-top: value();
}

@include data((
  'sb--none':   0,
  'sb--tiny':   $spacing-tiny,
  'sb--small':  $spacing-small,
  'sb--base':   $spacing-base,
  'sb--medium': $spacing-medium,
)) {
  padding-bottom: value();
}

// @include data((
//   't--small':   $font-size-small,
//   't--base':    $font-size-base,
//   't--medium':  $font-size-medium,
//   't--large':   $font-size-large,
// )) {
//   font-size: value();
// }

// @include data((
//   't--left':   left,
//   't--right':  right,
//   't--center': center,
// )) {
//   text-align: value();
// }
