.is-capitalized {
  text-transform: capitalize;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-italic {
  font-style: italic;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

.has-text-centered {
  text-align: center;
}

.has-text-justified {
  text-align: justify;
}

@each $key, $value in config('text-formats') {
  $value: important($value);

  .has-text-format-#{$key} {
    @include properties($value)
  }
}

@each $key, $value in config('colors') {
  .has-text-#{trim($key, '--')} {
    color: $value !important;
  }
}
