.is-capitalized {
  text-transform: capitalize;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-italic {
  font-style: italic;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

.has-text-centered {
  text-align: center;
}

.has-text-justified {
  text-align: justify;
}

.is-size-h1 {
  @include properties($text-h1)
}

.is-size-h2 {
  @include properties($text-h2)
}

.is-size-h2 {
  @include properties($text-h3)
}

.is-size-normal {
  @include properties($text-normal)
}

.is-size-small {
  @include properties($text-small)
}

@each $key, $value in get(color) {
  .has-text-#{$key} {
    color: $value;
  }
}

@each $key, $value in get(weight) {
  .has-text-#{$key} {
    font-weight: $value;
  }
}
