// TODO: Add description
@function get-breakpoint($key, $multiplier: 1) {
  $breakpoints: get-option('breakpoint');

  @return map-get($breakpoints, $key) * $multiplier;
}

/// Shorthand for get-breakpoint()
@function b($key, $multiplier: 1) {
  @return get-breakpoint($key, $multiplier);
}

// TODO: Add description
@function parse-breakpoint-width($width) {
  $breakpoints: get-option('breakpoint');

  @if type-of($width) == 'string' and map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);
  }

  @if type-of($width) != 'number' {
    @error '#{type-of($width)}: #{$width} is not a number.';
  }

  @return to-em($width);
}

// TODO: Add description
@mixin breakpoint($min-width, $media-type: 'all') {
  // sass-lint:disable zero-unit
  @include respond-to($min-width, 0px, $media-type) {
    @content;
  }
}

// TODO: Add description
@mixin breakpoint-until($max-width, $media-type: 'all') {
  // sass-lint:disable zero-unit
  @include respond-to(0px, $max-width, $media-type) {
    @content;
  }
}

// TODO: Add description
@mixin breakpoint-between($min-width, $max-width, $media-type: 'all') {
  @include respond-to($min-width, $max-width, $media-type) {
    @content;
  }
}

// TODO: Add description
@mixin respond-to($min-width, $max-width, $media-type: 'all') {
  $min-width: parse-breakpoint-width($min-width);
  $max-width: parse-breakpoint-width($max-width);
  $media-query: '';

  // Output rules inside @media queries
  @if strip-unit($min-width) != 0 {
    $media-query: '#{$media-query} and (min-width: #{$min-width})';
  }

  @if strip-unit($max-width) != 0 {
    $max-width: $max-width - 0.01em;
    $media-query: '#{$media-query} and (max-width: #{$max-width})';
  }

  // Remove unnecessary media query prefix 'all and '
  @if ($media-type == 'all' and $media-query != '') {
    $media-type: '';
    $media-query: str-slice(unquote($media-query), 6);
  }

  // Output @media query
  @media #{$media-type + $media-query} {
    @content;
  }
}
