$divisors: get('divisors');

.o-grid {
  flex: 1 0 auto;
  max-width: 100%;
  min-width: 0;
  order: 1;

  &--1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  &--grow-0 {
    flex-grow: 0;
  }

  &--shrink-1 {
    flex-grow: 1;
  }

  @include grid-fractions($divisors);

  @each $breakpoint, $value in get('breakpoint') {
    @include breakpoint($value) {
      &--auto\@#{$breakpoint} {
        flex-basis: auto;
      }

      &--grow-1\@#{$breakpoint} {
        flex-grow: 1;
      }

      &--grow-0\@#{$breakpoint} {
        flex-grow: 0;
      }

      &--shrink-1\@#{$breakpoint} {
        flex-grow: 1;
      }

      &--shrink-0\@#{$breakpoint} {
        flex-grow: 0;
      }

      &--1\@#{$breakpoint} {
        flex-basis: 100%;
        max-width: 100%;
      }

      @include grid-fractions($divisors, $breakpoint);
    }
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
  }
}
