@debug get('divisors');

@mixin fractions($breakpoint: null) {
  @each $divisor in o('divisors') {
    @for $dividend from 1 through $divisor - 1 {
      @if $breakpoint {
        &--#{$dividend}\/#{$divisor}\@#{$breakpoint} {
          flex-basis: $dividend / $divisor * 100%;
          max-width: $dividend / $divisor * 100%;
        }
      }

      @else {
        &--#{$dividend}\/#{$divisor} {
          flex-basis: $dividend / $divisor * 100%;
          max-width: $dividend / $divisor * 100%;
        }
      }
    }
  }
}

.o-grid {
  flex: 1 0 auto;
  max-width: 100%;
  min-width: 0;
  order: 1;

  &--1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  &--grow-0 {
    flex-grow: 0;
  }

  &--shrink-1 {
    flex-grow: 1;
  }

  @include fractions();

  @each $breakpoint, $value in o('breakpoint') {
    @include breakpoint($value) {
      &--auto\@#{$breakpoint} {
        flex-basis: auto;
      }

      &--grow-1\@#{$breakpoint} {
        flex-grow: 1;
      }

      &--grow-0\@#{$breakpoint} {
        flex-grow: 0;
      }

      &--shrink-1\@#{$breakpoint} {
        flex-grow: 1;
      }

      &--shrink-0\@#{$breakpoint} {
        flex-grow: 0;
      }

      &--1\@#{$breakpoint} {
        flex-basis: 100%;
        max-width: 100%;
      }

      @include fractions($breakpoint);
    }
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
  }
}
