/// Colors
$color-primary:   #1cf5b4;
$color-secondary: #0980ed;

@include set-color('primary', $color-primary, true);
@include set-color('secondary', $color-secondary, true);
@include set-color('gray', gray, true);
@include set-color('white', white);
@include set-color('black', black);


/// Breakpoints
$breakpoint-small:   480px;
$breakpoint-medium:  640px;
$breakpoint-large:   960px;
$breakpoint-largest: 1120px;

@include set('breakpoint', (
  'small':   $breakpoint-small,
  'medium':  $breakpoint-medium,
  'large':   $breakpoint-large,
  'largest': $breakpoint-largest,
));


/// Spacings
$spacing-tiny:   5px;
$spacing-small:  20px;
$spacing-medium: 40px;
$spacing-large:  80px;

@include set('spacing', (
  'tiny':   $spacing-tiny,
  'small':  $spacing-small,
  'medium': $spacing-medium,
  'large':  $spacing-large,
));


/// Font families
$font-family-base:    Arial, Helvetica, sans-serif;
$font-family-mono:    'Courier New', Courier, monospace;
$font-family-heading: Arial, Helvetica, sans-serif;


/// Font sizes
$font-size-base:   16px;
$font-size-small:  12px;
$font-size-medium: 20px;
$font-size-large:  28px;


/// Line heights
$line-height-base:    1.5;
$line-height-heading: 1.5;


/// Base duration
$duration: 150ms;


/// Easings
/// see http://easings.net
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out:    cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in:     cubic-bezier(0.55, 0.055, 0.675, 0.19);
