// TODO: Add description
@mixin set($key, $value) {
  @if not(global-variable-exists('GLOBAL_OPTIONS')) {
    /// Global variable to keep track of all options
    $GLOBAL_OPTIONS: () !global;
  }

  @if map-has-key($GLOBAL_OPTIONS, $key) {
    $current-value: map-get($GLOBAL_OPTIONS, $key);

    @if type-of($current-value) == 'map' and type-of($value) == 'map' {
      $value: map-merge($current-value, $value);
    }

    @else {
      @warn '"#{$key}" is overwritten with: "#{$value}".';
    }
  }

  $GLOBAL_OPTIONS: map-merge($GLOBAL_OPTIONS, ($key: $value)) !global;
}

// TODO: Add description
@mixin set-breakpoint($key, $value) {
  @include set('breakpoint', ($key: $value));
}

// TODO: Add description
@mixin set-font-size($key, $value) {
  @include set('font-size', ($key: $value));
}

// TODO: Add description
@mixin set-font-family($key, $value) {
  @include set('font-family', ($key: $value));
}

// TODO: Add description
@mixin set-spacing($key, $value) {
  @include set('spacing', ($key: $value));
}

// TODO: Add description
@mixin set-color($key, $value, $gradients: false, $config: ()) {
  @include set('color', ($key: $value));
  @if $gradients {
    @include set-color-gradients($key, $config);
  }
}

// TODO: Add description
@mixin set-color-gradients($key, $config: ()) {
  $color-map: map-get($GLOBAL_OPTIONS, 'color');
  $color: map-get($color-map, $key);

  $config: map_merge((
    'gradients-light': 'light' 'lighter' 'lightest',
    'gradients-dark': 'dark' 'darker' 'darkest',
    'light': #fff,
    'dark': #000,
  ), $config);

  @if type-of($color) != 'color' {
    @warn '#{$key} is neither a valid color nor in the color map.';
  }

  $gradients-light: map-get($config, 'gradients-light');
  $light: map-get($config, 'light');

  @if type-of($gradients-light) == 'list' and type-of($light) == 'color' {
    $length: length($gradients-light);

    @for $i from 1 through $length {
      $color-gradient: mix($light, $color, percentage($i / ($length + 1)));
      @include set-color(#{$key + '-' + nth($gradients-light, $i)}, $color-gradient);
    }
  }

  $gradients-dark: map-get($config, 'gradients-dark');
  $dark: map-get($config, 'dark');

  @if type-of($gradients-dark) == 'list' and type-of($dark) == 'color' {
    $length: length($gradients-dark);

    @for $i from 1 through $length {
      $color-gradient: mix($dark, $color, percentage($i / ($length + 1)));
      @include set-color(#{$key + '-' + nth($gradients-dark, $i)}, $color-gradient);
    }
  }

}

// TODO: Add description
@function get($keys...) {
  $map: $GLOBAL_OPTIONS;
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}
