// expose options and variables to javascript
// import cssContent from '@/lib/css-content'
// const config = cssContent.parse('body')

// convert the values to em and remove the unit
$breakpoints: get('breakpoints');
@each $key, $value in $breakpoints {
  $value: em($value);
  $value: strip-unit($value);
  $breakpoints: map-merge($breakpoints, ($key: $value));
}

// convert the duration to ms and remove the unit
$duration: get(--duration);
$duration: ms($duration);
$duration: strip-unit($duration);

body {
  &::after {
    content: json-encode((
      'breakpoints': $breakpoints,
      'duration': $duration,
      'easeInOut': 'easeInOutQuad',
      'easeOut': 'easeOutQuad',
      'easeIn': 'easeInQuad',
    ));

    overflow: hidden;
    display: block;
    height: 0;
    width: 0;
  }
}
