// expose options and variables to javascript
// import cssContent from '@/lib/css-content'
// const config = cssContent.parse('body')


// Convert the breakpoints to em and remove the unit
$breakpoints: config('breakpoints');
$breakpoints: pipe-each($breakpoints, em, strip-unit);

body {
  &::after {
    content: json-encode((
      'breakpoints': $breakpoints,
    ));

    display: none;
  }
}
