$breakpoint: get('breakpoint');
$container: get('container');

// convert the duration to ms and remove the
// unit so it can be used with javascript
$duration: get('duration');
$duration: ms($duration);
$duration: strip-unit($duration);

$data: (
  breakpoint: $breakpoint,
  container: $container,
  duration: $duration,
  easeInOut: 'easeInOutQuad',
  easeOut: 'easeOutQuad',
  easeOn: 'easeInQuad',
);

body {
  &::before {
    content: json-encode($data);

    overflow: hidden;
    display: block;
    height: 0;
    width: 0
  }
}
